{{!-- {{#each users as |project|}}

  <div class="project-card" id="project-card_group0">

    <div class="card horizontal">

      <div class="card-image">
        <img
          id="project-img_group0"
          src={{project.preview}}
        />
      </div>

      <div class="card-stacked" id="card-content-div_group0">

        <h3>{{project.projectName}}</h3>

        <div class="card-content">
          <p>By Group {{project.groupNumber}}</p>
          <br />
          <p>
            {{userStory}}
          </p>
        </div>

        <div class="card-action">
          <a href={{project.repoLink}}>Git Repo</a>
          <a href={{project.appLink}}>Web App</a>
        </div>

      </div>

    </div>

  </div>

{{/each}} --}}
